body, html {
    margin: 0;
}

header {
    margin-top: 2em;
    text-align: center;
    color: white;
    font-family: "Noto Sans Mono", sans-serif;
}

header > img {
    width: 10em;
    height: 10em;
    border-radius: 100%;
    border: 3px solid #fac4cb;
}

header > h1 {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 0.7em;
    background-color: transparent;
    color: white;
    margin-bottom: 2em;
}

body {
    background-image: url(./img/space.jpg);
    background-size: 12em;
}

body > ul {
    max-width: 20%;
    box-sizing: border-box;
    list-style: none;
    margin: 1em auto;
    padding: 0%;
}

body > ul > li {
    text-align: center;
    padding-top: 2em;
    width: 100%;
}

body > ul > li > a{
    text-decoration: none;
    font-size: 2em;
}

body > ul > li > a > span {
    display: block;
    font-family: "Noto Sans Mono", sans-serif;
    color: white;
    transition: 0.05s;
}

body > ul > li > a > span:hover {
    transform: scale(1.2);
}


body > ul > li > a > span > img {
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    width: 1em;
}
