body {
    background-image: url("../img/space.jpg");
    background-size: 4em;
}

#secret-text {
    color: black;
    position: absolute;
    top: 2em;
    left: 2em;
    transition: 3s;
}

#secret-text:hover {
    color: white;
    transform: rotate(7200deg);
}
