body {
    background-image: url("../img/space.jpg");
    background-size: 4em;
}

#secret-text {
    color: transparent;
    position: absolute;
    top: 4em;
    left: 4em;
    transition: 3s;
}

#secret-text:hover {
    color: white;
    transform: scale(1.5) rotate(7200deg);
}
